*{
    -webkit-user-select: none;
    user-select: none;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


button{
    height: 15vmin;
    width: 15vmin;
}

#onscreenconsole2{
    margin: 0;
}

#replayBallGame{
    height: 8vmin;
    width: 8vmin;
}