*{
    -webkit-user-select: none;
    user-select: none;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    margin: 0;
}


button{
    height: 8vmin;
    width: 15vmin;
}

#onscreenconsole2{
    margin: 0;
}
#statsScreen{
    font-size: 80%;
}

#replayBallGame{
    height: 8vmin;
    width: 15vmin;
}

#ballWinScreen{
    font-size: 300%;
}