*{
    -webkit-user-select: none;
    user-select: none;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    margin: 0;
}

button{
    height: 8vmin;
    width: 15vmin;
    margin: 2% 3%;
}

#content{
    height: 100%;
    width: 100%;
}

#gamePanel{
    margin: 0 3%;
}

#livesAndScore{
    height: 1rem;
    margin: 3%;
}
#statsScreen{
    font-size: 80%;
}

#nav{
    display: inline;
    height: 10%;
    width: 100%;
}

#nav > * {
    width: 25%;
    margin: 3%;
}

#buttonPanel{
    height: 30%;
    width: 100%;
    float: left;
}

#rotateButtonPanel, #moveButtonPanel{
    width: 44%;
    height: 100%;
    margin: 3%;
    float: left;
}

#rotateButtonPanel > button{
    width: 44%;
    height: 100%;
    margin: 2% 1%;
}

#moveButtonPanel > button{
    width: 100%;
    height: 45%;
    margin: 2%;
}


#ballWinScreen{
    font-size: 300%;
}

#pauseScreen{
    display: none;
    margin: 3%;
}